.employee-search-container {
  padding-top: 40px; // 헤더 높이를 고려한 패딩
  max-width: 1200px; // 헤더와 일치하는 최대 너비
  margin: 0 auto;

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .pagination {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
