@use 'sass:color';

$blue: #007bff;

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;

  .page-item {
    margin: 0 5px;

    .page-link {
      color: #007bff;
      padding: 5px 10px;
      text-decoration: none;
      border: 1px solid #007bff;
      border-radius: 5px;

      &:hover {
        background-color: color.scale($blue, $lightness: 60%);
        color: white;
      }
    }

    &.active .page-link {
      background-color: #007bff;
      color: white;
    }
  }
}
