.text-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-family: inherit;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
        border-color:  #0A4EA2;
    }

    // Size variants
    &--large {
        font-size: 16px;
        padding: 12px 16px;
        height: 48px;
        width: 234px;
    }

    &--medium {
        font-size: 16px;
        padding: 6px 8px;
        height: 25px;
        width: 380px !important;
    }

    &--small {
        font-size: 16px;
        padding: 6px 8px;
        height: 25px;
        width: 250px !important
    }
}